p
{
    font-size: 13px;
}

.btn-warning
{
    float: left;
    background: rgba(200, 54, 54, 0.8);
    color: yellow;
}

.btn-default
{
    float: left;
    background: rgba(200, 54, 54, 0.8);
    color: yellow;
}

.text-center
{
    margin-top: -20px;
    margin-bottom: 20px;
    float: left;
    width: 100px;
    height: 30px;
}

.images
{
    width: 80px;
    height: 90px;
    border-radius: 10px;
    float:left;
    display:inline;
    margin: 3px;
}

#images1
{

    width: 200px;
    height: 80px;
    float: left;
}

#fusion
{
    padding-top: 15px;
    float: left;
    width: 144px;
    height: 85px;
}

#images2
{
    width: 200px;
    height: 90px;
    float: left;
    width: 80px;
    height: 90px;
    float:left;
    margin: 3px;
}

#picture
{
    width:830;
    height:120px;
    overflow:scroll;
    overflow-x: scroll;
    overflow-y: hidden;
}

.wrapper
{
    width: 350px;
    margin-left: 10px;
}

.jumbotron 
{
    margin-top: 5px;
    float: left;
    background: rgba(200, 54, 54, 0.8);
    text-align: center;
    border-radius: 10px;
    padding: 0.5em 0.6em;
    font-family: cursive;
    width: 350px;
    height: 60px;
}

.jumbotron h1 
{
    font-size: 18px;
    color: yellow;
    text-shadow: red 5px;
}

.btn-primary
{
    float: left;
}



.instructions
{
    float: left;
    width: 350px;
    background: rgba(200, 54, 54, 0.5);
    border-radius: 10px;
    color: yellow;
}

#scoreCounter
{
    margin: 5px;
    border-radius: 10px;
    float: left;
    background-image: url('../images/maxresdefault.jpg');
    background-size: 200px 87px;
    background-repeat: no-repeat;
    width: 200px;
    height: 90px;
    color: yellow;
    font-size: 50px;
}

#totalScore
{
    width: 220px;
    height: 30px;
    background: rgba(200, 54, 54, 0.5);
    border-radius: 10px;
    color: yellow;
    float: left;
}

#totalScore p
{
    font-size: 20px;
}

#powerAttack
{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 220px;
    height: 100px;
    background: rgba(200, 54, 54, 0.5);
    border-radius: 10px;
    color: yellow;
    float: left;
}

#powerAttack p
{
    font-size: 25px;
}

#winLose
{
    margin: 5px;
    border-radius: 10px;
    width: 70px;
    height: 90px;
    background: rgba(200, 54, 54, 0.5);
    color: yellow;
    float: left;
}

#winCounter
{
    border-radius: 10px;
    margin-top: 15px;
}

#loseCounter
{
    margin-top: 15px;
}

@media screen and (min-width: 600)
{
    body
    {
        min-width:400px;
    }
}